<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="mydbConnectionString" connectionString="server=localhost;user id=root;password=gowsibaby7;database=mydb"
      providerName="MySql.Data.MySqlClient" />
    <add name="mydbConnectionString2" connectionString="server=localhost;user id=root;password=gowsibaby7;database=mydb"
      providerName="MySql.Data.MySqlClient" />
    <add name="mydbConnectionString3" connectionString="server=localhost;user id=root;password=gowsibaby7;database=mydb"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString2" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString3" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString4" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString5" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString6" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="masterEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="gowsiConnectionString7" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString8" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString9" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString10" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="mydbConnectionString4" connectionString="server=localhost;user id=root;password=gowsibaby7;database=mydb"
      providerName="MySql.Data.MySqlClient" />
    <add name="hspConnectionString" connectionString="Data Source=LENOVO\SQLEXPRESS2019;Initial Catalog=hsp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gowsiConnectionString11" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString12" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString13" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString14" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString15" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString16" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString17" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString18" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString19" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString20" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString21" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString22" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString23" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString24" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString25" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString26" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString27" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString28" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString29" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString30" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="gowsiConnectionString31" connectionString="server=localhost;user id=root;password=gowsibaby7;database=gowsi"
      providerName="MySql.Data.MySqlClient" />
    <add name="DataSourceConnectionString" connectionString="Data Source=localhost;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>